################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DataAccessLayer/obj
/Presentation.WebApi/bin/Debug/net8.0
